@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');





body{
    background: black;
    color: #fff;
}

.logo{
    display:inline-block;
    border: 50px;
    margin: 20px;
    margin-left: 300px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.nome{
    margin-top: -50px;
    margin-left: 250px;
    font-size: 100px;
    font-family: 'Caveat', cursive;
    letter-spacing: 2px;
    line-height: 150px;
}

.vetor{
    border: 5px;
    margin: 5px;
    margin-left: 1100px;
    position: absolute;
    margin-top: -500px;
}

.vetor img{
    width: 420px;
    height: 500px;
}

.contato1{
    margin-left: 600px;
    margin-top: -80px;
    position: absolute;
    border: none !important;
    font-size: 30px;
    background-color: black;
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 4px #fff;
    cursor: pointer;
}

.projetos{
    margin-left: 300px;
    margin-top: -80px;
    position: absolute;
    border: none !important;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    font-family: 'Anton', sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 1px #000;
    cursor: pointer;
}

.contato2{
    margin-left: 650px;
    margin-top: -640px;
    position: absolute;
    border: none !important;
    font-size: 25px;
    background-color: black;
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 4px #fff;
    cursor: pointer;
}

.contato3{
    margin-left: 1100px;
    margin-top: -640px;
    position: absolute;
    border: none !important;
    font-size: 25px;
    background-color: black;
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 4px #fff;
    cursor: pointer;
}

.contato4{
    margin-left: 860px;
    margin-top: -640px;
    position: absolute;
    border: none !important;
    font-size: 25px;
    background-color: black;
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 4px #fff;
    cursor: pointer;
}

.lupa{
    border: 5px;
    margin: 5px;
    margin-left: 1500px;
    position: absolute;
    margin-top: -640px;
    cursor: pointer;
}

.lupa img{
    width: 40px;
    height: 40x;
}

.nome2{
    margin-top: -170px;
    margin-left: 300px;
    font-size: 50px;
    font-family: 'Caveat', cursive;
    letter-spacing: 2px;
    line-height: 150px;
}

.seta{
    border: 5px;
    margin: 5px;
    margin-left: 850px;
    position: absolute;
    margin-top: -40px;
    cursor: pointer;
}

.seta img{
    width: 80px;
    height: 80x;
}

.nome3{
    margin-top: -70px;
    margin-left: 700px;
    font-size: 50px;
    font-family: 'Caveat', cursive;
    letter-spacing: 2px;
    line-height: 150px;
    position: absolute;
    text-align: center;
}

.quadrado1{
    background-color: rgb(12, 12, 12);
    width: 300px;
    height: 400px;
    margin-left: 200px;
    margin-top: 230px;

}

.quadrado2{
    background-color: rgb(12, 12, 12);
    width: 300px;
    height: 400px;
    margin-left: 745px;
    margin-top: -400px;

}

.quadrado3{
    background-color: rgb(12, 12, 12);
    width: 300px;
    height: 400px;
    margin-left: 1265px;
    margin-top: -400px;

}

.logopreto1{
    border: 5px;
    margin: 5px;
    margin-left: 855px;
    position: absolute;
    margin-top: -380px;
    cursor: pointer;
}

.logopreto1 img{
    width: 80px;
    height: 80x;
}

.logopreto2{
    border: 5px;
    margin: 5px;
    margin-left: 300px;
    position: absolute;
    margin-top: -380px;
    cursor: pointer;
}

.logopreto2 img{
    width: 80px;
    height: 80x;
}

.logopreto3{
    border: 5px;
    margin: 5px;
    margin-left: 1370px;
    position: absolute;
    margin-top: -380px;
    cursor: pointer;
}

.logopreto3 img{
    width: 80px;
    height: 80x;
}

.txt1{
    margin-top: -330px;
    margin-left: 240px;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    letter-spacing: 2px;
    line-height: 150px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    line-height: 45px;
}

.txt2{
    margin-top: -150px;
    margin-left: -90px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    letter-spacing: 2px;
    line-height: 150px;
    color: rgb(255, 255, 255);
    line-height: 45px;
    text-align: center;
}

.txt3{
    margin-top: -150px;
    margin-left: 950px;
    font-size: 35px;
    font-family
    letter-spacing: 2px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.msgfinal{
    margin-top: 280px;
    margin-left: -25;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.msgfinal2{
    margin-top: 15px;
    margin-left: 90px;
    font-size: 15px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
    line-height: 20 px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.logosfinal{
    border: 5px;
    margin: 5px;
    margin-left: 600px;
    position: absolute;
    margin-top: 60px;
    cursor: pointer;
}

.logosfinal img{
    width: 700px;
    height: ;
}